[Unit]
Description=pomodoro_lock Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/daedalus/bin/pomodoro_lock.py

[Install]
WantedBy=multi-user.target
